*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {
	background-color: transparent;
	color: inherit;
	border-width: 0;
	padding: 0;
	cursor: pointer;
}

figure {
	margin: 0;
}

ul,
ol,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}

p {
	margin: 0;
}

cite {
	font-style: normal;
}

fieldset {
	border-width: 0;
	padding: 0;
	margin: 0;
}

/* стили для хедера */

header {
	background-color: #0C0B08;
	height: 120px;
}

.container {
	width: 100%;
	max-width: 1710px;
	margin: 0 auto;
	padding: 0 15px;
	overflow: auto;
}

.fl {
	float: left;
}

.header-nav li {
	float: left;
}

.header-logo {
	font-family: 'Cormorant Upright', serif;
	font-weight: 700;
	text-transform: uppercase;
	margin: 32px 437px 32px 0;
	color: #FFFFFF;
	font-size: 44px;
	letter-spacing: 0.04em;
	text-align: center;
}

.header-menu {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 175%;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	margin: 46.5px 0;
}

.header-menu li>a {
	padding: 20px 16px;
}

.header-registration {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FFFFFF;
	margin: 46.5px 0;
}

.header-registration li>a {
	padding:20px 0;
}

.header-registration li:first-child {
	margin-left: 251px;
	margin-right: 89px;
}

